{{> background}}
{{> header}}

<main class="flex-container">
  <div>
    <img src="https://i.imgur.com/8rW1xdL.png" alt="logo" id="home-logo">
  </div>
  <div>
    <button class="btn" onclick="selectLevel()">開始挑戰</button>
    <button class="btn" onclick="getPage('/ranking')">英雄榜</button>
  </div>
  <div>
    <button class="btn level-btn hidden" onclick="start('easy')">簡單</button>
    <button class="btn level-btn hidden" onclick="start('medium')">中等</button>
    <button class="btn level-btn hidden" onclick="start('hard')">困難</button>
  </div>
</main>

{{> footer}}