body {
  margin: 0;
}

header {
  height: 10vh;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('https://i.imgur.com/NEelBRC.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

footer {
  height: 5vh;
}

main {
  height: 85vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #D2B48C;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: #CD853F;
}

.btn.hidden {
  visibility: hidden;
}

.invisible {
  display: none;
}

#score {
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  /* text-decoration: none; */
}

.card-area {
  display: grid;
  justify-content: center;
  align-content: center;

  /* temp */
  background-color: #D2B48C; 
}

.card-area-easy {
  grid-gap: 16px;
  grid-template-columns: repeat(3, calc((85vh * 0.5 - 100px) * 2 / 3));
}

.card-area-medium {
  grid-gap: 12px;
  grid-template-columns: repeat(4, calc((85vh * 0.33 - 20px) * 2 / 3));
}

.card-area-hard {
  grid-gap: 8px;
  grid-template-columns: repeat(6,calc((85vh * 0.25 - 20px) * 2 / 3));
}

.card {
  border-radius: 10px;
  background-color: white;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1s;
  cursor: pointer;
}

.card-easy {
  height: calc(85vh * 0.5 - 100px);
  width: calc(85vh * 0.5 - 100px) * 2 / 3;
  
}
.card-medium {
  height: calc(85vh * 0.33 - 20px);
  width: calc((85vh * 0.33 - 20px) * 2 / 3);
}

.card-hard {
  height: calc(85vh * 0.25 - 20px);
  width: calc((85vh * 0.25 - 20px) * 2 / 3);
}

.card > div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s;
}

.card-back {
  background-image: url('https://i.imgur.com/T5qJf8v.png');
  background-size: cover;
  background-position: center;
}

.card-front {
  transform: rotateY(180deg) translateZ(1px);
  background-color: white;
}

.card-front img {
  max-width: 100%;
  max-height: 100%;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-inner.lock {
  filter: brightness(0.5)
}

header p {
  /* temp */
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2D8B1;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 50%;
}

.modal-btn, .btn {
  display: inline-block;
  margin: 10px 0 5px;
  padding: 10px 20px;
  background-color: #D2B48C;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #623412;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.modal-btn:hover, .btn:hover {
  background-color: #CD853F;
  color: #fff;
}

.modal-content p {
  font-size: 20px;
  font-weight: bold;
  margin: 10px auto;
  color: #000;
}

.input-name {
  display: block;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  background-color :  rgba(255,255,255, 0.5);
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

tr {
  height: 45px;
}

tbody > tr {
  border-top: 1px solid #ccc
}

th, td {
  width: 33.33%;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
}