body {
  margin: 0;
}

header {
  height: 10vh;
  background-color: antiquewhite;
}

footer {
  height: 5vh;
  background-color: antiquewhite;
}

main {
  height: 85vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #D2B48C;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background-color: #CD853F;
}

.btn.hidden {
  visibility: hidden;
}